


/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements */
/* body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
} */

/* header {
  background: #333;
} */

/* h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  text-align: center;
}

h2 {
  font-size: 24px;
} */

/* p h1
h5 {
  color:#2FFBEE
} */

/* a {
  color: #d21034;
} */

/* Selecting elements by class
.container {
  width: 1024px;
  margin: 0 auto;
} */

/* Selecting elements by ID */


/* #bio-name {
  position: absolute;
  top: 150px;
  left: 30px;
} */

